<h2>Добавить покупателя</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit">

	<div class="mb-3">
		<label class="form-label" for="name">Имя</label>
		<input class="form-control" formControlName="name" id="name" type="text" placeholder="Имя">
	</div>

	<div class="mb-3">
		<label class="form-label" for="email">Email</label>
		<input class="form-control" formControlName="email" id="email" type="email" placeholder="Email">
	</div>

	<div class="mb-3">
		<label class="form-label" for="mobile">Телефон</label>
		<input class="form-control" formControlName="mobile" id="mobile" type="tel" placeholder="Телефон">
	</div>

	<div class="mb-3">
		<label class="form-label" for="location">Город</label>
		<input class="form-control" formControlName="location" id="location" type="text" placeholder="Город">
	</div>

	<div class="mb-3">
		<button class="btn btn-info" [disabled]="onSubmit">Сохранить</button>
	</div>

</form>